@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  font-family: sans-serif;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  cursor: none; 
}
#sidebar{
    height: 100%;
    width: 400px;
    position:fixed;
    top:0px;
    right: 0px;
    background-color: #ffffffe8;
    border: 1px #989898 solid;
    font-size:1.2em;
    text-align: center;
    overflow: scroll;
    line-height: 1.4em;
}
.key{
    color: #34a21a;
    font-weight: 700;
}
.active{
    font-weight: 900;
}
.hidden{
    display: none;
}
#pause-screen{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    color: #FFFFFA;
    background: #6b6971;
    font-size: 3em;
    opacity: 0.5;
}
.pause-title{ 
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
}	
.light-intensity-title, .material-properties-title{
    margin-left: 20px;
    vertical-align: top;
    width: 40%;
    display: inline-block;
}
.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
#game-ui{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#game-ui div{
    position: fixed;
    bottom: 100px;
    font-size: 2.5em;
    font-weight: 700;
    opacity: 0.8;
    color: white;
    -webkit-text-stroke: 1px gray;
}
#game-ui .ui-left{
    left: 100px;
    transform: perspective(500px) rotateY(35deg);
    text-align: left;
}
#game-ui .ui-right{
    right: 100px;
    transform: perspective(500px) rotateY(-35deg);
    text-align: right;
}
#game-ui .ui-left .key, #game-ui .ui-right .key{
    color: #2b711b;
    -webkit-text-stroke: 1px #309c17;
}
#game-ui img{
    width: 100px;
}